.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.calc-main {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.calc-main div {
  border: 1px solid lightgray;
  min-width: 250px;
  flex: 1 0 20%;
}

.unit-check {
  display: block;
}